--
-- PostgreSQL database dump
--

\restrict dFUBjANbd864aDZgynvlEgORpIqz0IADCnh3ryQ6GAAD1LLpqMufE6Of2uJvaTh

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: campaign_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.campaign_status AS ENUM (
    'DRAFT',
    'PENDING',
    'ACTIVE',
    'REJECTED',
    'CLOSED'
);


ALTER TYPE public.campaign_status OWNER TO postgres;

--
-- Name: milestone_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.milestone_status AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public.milestone_status OWNER TO postgres;

--
-- Name: pledge_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.pledge_status AS ENUM (
    'PENDING',
    'SUCCESS',
    'FAILED'
);


ALTER TYPE public.pledge_status OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'USER',
    'ADMIN'
);


ALTER TYPE public.user_role OWNER TO postgres;

--
-- Name: trigger_set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trigger_set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = NOW();

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.trigger_set_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.campaigns (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    porteur_id uuid NOT NULL,
    title character varying(500) NOT NULL,
    description text NOT NULL,
    category character varying(100) NOT NULL,
    target_amount integer NOT NULL,
    status public.campaign_status DEFAULT 'DRAFT'::public.campaign_status NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    rewards jsonb DEFAULT '[]'::jsonb,
    image_url text,
    video_url text,
    story text,
    CONSTRAINT campaigns_target_amount_check CHECK ((target_amount > 0))
);


ALTER TABLE public.campaigns OWNER TO postgres;

--
-- Name: milestones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.milestones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    campaign_id uuid NOT NULL,
    title character varying(500) NOT NULL,
    proof_url text,
    status public.milestone_status DEFAULT 'PENDING'::public.milestone_status NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.milestones OWNER TO postgres;

--
-- Name: pledges; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pledges (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    campaign_id uuid NOT NULL,
    donateur_id uuid NOT NULL,
    amount integer NOT NULL,
    status public.pledge_status DEFAULT 'PENDING'::public.pledge_status NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT pledges_amount_check CHECK ((amount > 0))
);


ALTER TABLE public.pledges OWNER TO postgres;

--
-- Name: rewards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rewards (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    campaign_id uuid NOT NULL,
    title character varying(500) NOT NULL,
    minimum_amount integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT rewards_minimum_amount_check CHECK ((minimum_amount > 0))
);


ALTER TABLE public.rewards OWNER TO postgres;

--
-- Name: saved_campaigns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.saved_campaigns (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    campaign_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.saved_campaigns OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text,
    role public.user_role DEFAULT 'USER'::public.user_role NOT NULL,
    bank_details text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    bio text DEFAULT ''::text,
    avatar text DEFAULT ''::text,
    google_id text,
    auth_provider character varying(20) DEFAULT 'local'::character varying,
    email_verified boolean DEFAULT false
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (id);


--
-- Name: milestones milestones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.milestones
    ADD CONSTRAINT milestones_pkey PRIMARY KEY (id);


--
-- Name: pledges pledges_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pledges
    ADD CONSTRAINT pledges_pkey PRIMARY KEY (id);


--
-- Name: rewards rewards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewards
    ADD CONSTRAINT rewards_pkey PRIMARY KEY (id);


--
-- Name: saved_campaigns saved_campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_campaigns
    ADD CONSTRAINT saved_campaigns_pkey PRIMARY KEY (id);


--
-- Name: saved_campaigns saved_campaigns_user_id_campaign_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_campaigns
    ADD CONSTRAINT saved_campaigns_user_id_campaign_id_key UNIQUE (user_id, campaign_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_campaigns_porteur_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaigns_porteur_id ON public.campaigns USING btree (porteur_id);


--
-- Name: idx_campaigns_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaigns_status ON public.campaigns USING btree (status);


--
-- Name: idx_milestones_campaign_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_milestones_campaign_id ON public.milestones USING btree (campaign_id);


--
-- Name: idx_milestones_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_milestones_status ON public.milestones USING btree (status);


--
-- Name: idx_pledges_campaign_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pledges_campaign_id ON public.pledges USING btree (campaign_id);


--
-- Name: idx_pledges_donateur_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pledges_donateur_id ON public.pledges USING btree (donateur_id);


--
-- Name: idx_pledges_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pledges_status ON public.pledges USING btree (status);


--
-- Name: idx_rewards_campaign_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rewards_campaign_id ON public.rewards USING btree (campaign_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_google_id_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_users_google_id_unique ON public.users USING btree (google_id) WHERE (google_id IS NOT NULL);


--
-- Name: campaigns set_updated_at_campaigns; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at_campaigns BEFORE UPDATE ON public.campaigns FOR EACH ROW EXECUTE FUNCTION public.trigger_set_updated_at();


--
-- Name: milestones set_updated_at_milestones; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at_milestones BEFORE UPDATE ON public.milestones FOR EACH ROW EXECUTE FUNCTION public.trigger_set_updated_at();


--
-- Name: pledges set_updated_at_pledges; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at_pledges BEFORE UPDATE ON public.pledges FOR EACH ROW EXECUTE FUNCTION public.trigger_set_updated_at();


--
-- Name: rewards set_updated_at_rewards; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at_rewards BEFORE UPDATE ON public.rewards FOR EACH ROW EXECUTE FUNCTION public.trigger_set_updated_at();


--
-- Name: users set_updated_at_users; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at_users BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.trigger_set_updated_at();


--
-- Name: campaigns fk_campaigns_porteur; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT fk_campaigns_porteur FOREIGN KEY (porteur_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: milestones fk_milestones_campaign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.milestones
    ADD CONSTRAINT fk_milestones_campaign FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pledges fk_pledges_campaign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pledges
    ADD CONSTRAINT fk_pledges_campaign FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pledges fk_pledges_donateur; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pledges
    ADD CONSTRAINT fk_pledges_donateur FOREIGN KEY (donateur_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: rewards fk_rewards_campaign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewards
    ADD CONSTRAINT fk_rewards_campaign FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: saved_campaigns saved_campaigns_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_campaigns
    ADD CONSTRAINT saved_campaigns_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON DELETE CASCADE;


--
-- Name: saved_campaigns saved_campaigns_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_campaigns
    ADD CONSTRAINT saved_campaigns_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict dFUBjANbd864aDZgynvlEgORpIqz0IADCnh3ryQ6GAAD1LLpqMufE6Of2uJvaTh

